{% extends 'layout.html' %}

{% block title %}Profile Management{% endblock %}

{% block content %}
<!------------------------ Claim History--------------------------->
<div class="home-section">
  <h1>Approve Claims</h1>

  <div class="containerp-30">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10 main-datatable">
        <div class="card_body">
          <br>
          <div class="overflow-x">
            <table style="width:100%;" id="filtertable" class="table cust-datatable dataTable no-footer">
              <thead>
                <tr>
                  <th style="min-width:100px;">Claim ID</th>
                  <th style="min-width:100px;">Claim Category</th>
                  <th style="min-width:100px;">Claim Date</th>
                  <th style="min-width:50px;">Currency Code</th>
                  <th style="min-width:100px;">Expense Amount (Foreign Currency)</th>
                  <th style="min-width:100px;">Expense Amount (SGD)</th>
                  <th style="min-width:150px;">Description</th>
                  <th style="min-width:100px;">Status</th>
                  <th style="min-width:150px;">Action</th>
                </tr>
              </thead>

              <tbody>
                {% for current in claims %}

                <tr>

                  <td type="hidden" id="id" name="id">{{ current.ClaimID }}
                  <td id="claim_category" name="claim_category">{{ current.Claim_Category }}</td>
                  <td id="date" name="date">{{ current.Claim_Date }}</td>
                  <td id="currency_code" name="currency_code">{{ current.Foreign_Currency }}</td>
                  <td id="expense_forex" name="expense_forex">{{ current.Claim_Amount_FC }}</td>
                  <td id="expense_sgd" name="expense_sgd">{{ current.Claim_Amount_SGD }}</td>
                  <td id="description" name="description">{{ current.Claim_Desc }}</td>
                  <td id="status" name="status"><span class="mode mode_on">{{ current.Status_Desc }}</span></td>
                  <td>
                      <form action="{{ url_for('editclaim') }}" method="POST">
                        <input type="hidden" name="ClaimID" id="Claim_ID" value="{{ current.ClaimID }}" />
                        <button class="btn-primary" type="submit">Edit</button>
                      </form>
                      <form action="{{ url_for('approve') }}" method="POST">
                        <input type="hidden" name="ClaimID" id="Claim_ID" value="{{ current.ClaimID }}" />
                        <button class="btn-success" type="submit">Approve</button>
                      </form>
                      <form action="{{ url_for('reject') }}" method="POST">
                        <input type="hidden" name="ClaimID" id="Claim_ID" value="{{ current.ClaimID }}" />
                        <button class="btn-danger" type="submit">Reject</button>
                      </form>
                  </td>
                  {% endfor %}
              </tbody>

            </table>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>

</div>
<div class="col-md-1"></div>

</div>


<!--Script for function-->
<script src="history.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.10.14/js/jquery.dataTables.min.js"></script>
<script>
  let sidebar = document.querySelector(".sidebar");
  let closeBtn = document.querySelector("#btn");
  let searchBtn = document.querySelector(".bx-search");

  closeBtn.addEventListener("click", () => {
    sidebar.classList.toggle("open");
    menuBtnChange();//calling the function(optional)
  });


  // following are the code to change sidebar button(optional)
  function menuBtnChange() {
    if (sidebar.classList.contains("open")) {
      closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
    } else {
      closeBtn.classList.replace("bx-menu-alt-right", "bx-menu");//replacing the iocns class
    }
  }
</script>
{% endblock %}