{% extends 'layout.html' %}

{% block title %}Profile Management{% endblock %}

{% block content %}
<div class="home-section">
  <h1>Claim History</h1>
  <div class="containerp-30">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10 main-datatable">
        <div class="card_body">
          <br>
          <div class="overflow-x">
            <table style="width:100%;" id="filtertable" class="table cust-datatable dataTable no-footer">
              <thead>
                <tr>
                  <th style="min-width:100px;">Claim Category</th>
                  <th style="min-width:100px;">Claim Date</th>
                  <th style="min-width:50px;">Currency Code</th>
                  <th style="min-width:100px;">Exchange Rate (to 1 SGD)</th>
                  <th style="min-width:100px;">Expense Amount (SGD)</th>
                  <th style="min-width:150px;">Description</th>
                  <th style="min-width:100px;">Status</th>
                  <th style="min-width:150px;">Action</th>
                </tr>
              </thead>
              {% for current in claims %}
              <tbody>
                <tr>
                  
                  <td id="claim_category" name="claim_category">{{ current.Claim_Category }}</td>
                  <td id="date" name="date">{{ current.Claim_Date }}</td>
                  <td id="currency_code" name="currency_code">{{ current.Foreign_Currency }}</td>
                  <td id="expense_forex" name="expense_forex">{{ current.Forex }}</td>
                  <td id="expense_sgd" name="expense_sgd">{{ current.Claim_Amount_SGD }}</td>
                  <td id="description" name="description">{{ current.Claim_Desc }}</td>
                  <td id="status" name="status"><span class="mode mode_on">{{ current.Status_Desc }}</span></td>
                  <td>
                    <form action="{{ url_for('editclaim') }}" method="POST">
                      <input type="hidden" name="ClaimID" id="Claim_ID" value="{{ current.ClaimID }}" />
                      <button class="btn-primary" type="submit">Edit</button>
                    </form>
                    <form action="{{ url_for('deleteclaim') }}" method="POST">
                      <input type="hidden" name="ClaimID" id="Claim_ID" value="{{ current.ClaimID }}" />
                      <button class="btn-success" type="submit">Delete</button>
                    </form>
                </tr>
                
              </tbody>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>



</div>
<!--Script for function-->
<script src="{{ url_for('static', filename='history.js') }}"></script>

<script>
  let sidebar = document.querySelector(".sidebar");
  let closeBtn = document.querySelector("#btn");
  let searchBtn = document.querySelector(".bx-search");

  closeBtn.addEventListener("click", () => {
    sidebar.classList.toggle("open");
    menuBtnChange();//calling the function(optional)
  });

  // following are the code to change sidebar button(optional)
  function menuBtnChange() {
    if (sidebar.classList.contains("open")) {
      closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
    } else {
      closeBtn.classList.replace("bx-menu-alt-right", "bx-menu");//replacing the iocns class
    }
  }
</script>


{% endblock %}