<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>

   <body>
    <div class="sidebar">
      <div class="logo-details">
        <i class='bx bxl-c-plus-plus icon'></i>
          <div class="logo_name">ClaimNow</div>
          <i class='bx bx-menu' id="btn" ></i>
      </div>
      <ul class="nav-list">
        <li>
          <a href="employee.html">
            <i class='bx bx-grid-alt'></i>
            <span class="links_name">Overview</span>
          </a>
           <span class="tooltip">Overview</span>
        </li>
        <li>
         <a href="submitclaim.html">
           <i class='bx bx-edit-alt' ></i>
           <span class="links_name">Submit Claim</span>
         </a>
         <span class="tooltip">Submit Claim</span>
       </li>
       <li>
         <a href="history.html">
           <i class='bx bx-history' ></i>
           <span class="links_name">Claim History</span>
         </a>
         <span class="tooltip">Claim History</span>
       </li>   
  
       <li>
          <a href="notifications.html">
            <i class='bx bx-bell' ></i>
            <span class="links_name">Notifications</span>
          </a>
          <span class="tooltip">Notifications</span>
        </li> 
        
       <li class="profile">
           <div class="profile-details">
             <!--<img src="profile.jpg" alt="profileImg">-->
             <div class="name_job">
               <div class="name">Username</div>
               <div class="job">Designation</div>
             </div>
           </div>
           <i class='bx bx-log-out' id="log_out" ></i>
       </li>
      </ul>
    </div>
  
    <div class="home-section">
      <h1>Submit a Claim</h1>
    </div>
    <div class="container">
      <h3>Claim Category</h3>

      <div class="select-box">
        <div class="options-container">
          <div class="option">
            <input
              type="radio"
              class="radio"
              id="Claim_category"
              name="Claim_category"
              
            />
            <label for="Claim_category"></label>
           </div>   

           <div class="option">
            <input type="radio" class="radio" id="entertainment" name="Claim_category" />
            <label for="entertainment">Entertainment</label>
          </div>

          <div class="option">
            <input type="radio" class="radio" id="flight" name="Claim_category" />
            <label for="flight">Flight</label>
          </div>

          <div class="option">
            <input type="radio" class="radio" id="hotel" name="Claim_category" />
            <label for="hotel">Hotel</label>
          </div>

          <div class="option">
            <input type="radio" class="radio" id="transportation" name="Claim_category" />
            <label for="transportation">Transportation</label>
          </div>
        </div>
        <div class="selected">
          Select Expense Type
        </div>

        <div class="search-box">
          <input type="text" placeholder="Start Typing..." />
        </div>
      </div> 
      <br>   
      
      <h3>Claim Date</h3>  
      <div class="select-box">
          <input type="date" id="date">
      </div>  
      <br>
      <h3>Expense Amount</h3>  
      <div class="select-box">
          <input type="number">
      </div> 
      <br>
      <div class="currency-box">
      <h3>Currency</h3>
          <div class="select-box">
            <div class="options-container">
              <div class="option">
                <input
                  type="radio"
                  class="radio"
                  id="Currency"
                  name="Currency"
                />
                <label for="Currency"></label>
              </div>   
              <div class="option">
                <input type="radio" class="radio" id="SGD" name="Currency" />
                <label for="SGD">SGD - SINGAPORE</label>
              </div>      

              <div class="option">
                <input type="radio" class="radio" id="MYR" name="Currency" />
                <label for="MYR">MYR - MALAYSIA</label>
              </div>

              <div class="option">
                <input type="radio" class="radio" id="AUD" name="Currency" />
                <label for="AUD">AUD - AUSTRALIA</label>
              </div>

              <div class="option">
                <input type="radio" class="radio" id="CAD" name="Currency" />
                <label for="CAD">CAD - CANADA</label>      
              </div>

              <div class="option">
                <input type="radio" class="radio" id="CHF" name="Currency" />
                <label for="CHF">CHF - SWITZERLAND</label>      
              </div>

              <div class="option">
                <input type="radio" class="radio" id="EUR" name="Currency" />
                <label for="EUR">EUR - EUROPEAN UNION</label>      
              </div>

              <div class="option">
                <input type="radio" class="radio" id="GBP" name="Currency" />
                <label for="GBP">GBP - UNITED KINGDOM OF GREAT BRITAIN AND NORTHERN IRELAND (THE)</label>      
              </div>

              <div class="option">
                <input type="radio" class="radio" id="HKD" name="Currency" />
                <label for="HKD">HKD - HONG KONG</label>      
              </div>

              <div class="option">
                <input type="radio" class="radio" id="IDR" name="Currency" />
                <label for="IDR">IDR - INDONESIA</label>      
              </div>

              <div class="option">
                <input type="radio" class="radio" id="INR" name="Currency" />
                <label for="INR">INR - INDIA</label>      
              </div>

              <div class="option">
                <input type="radio" class="radio" id="JPY" name="Currency" />
                <label for="JPY">JPY - JAPAN</label>      
              </div>

              <div class="option">
                <input type="radio" class="radio" id="KRW" name="Currency" />
                <label for="KRW">KRW - KOREA (THE REPUBLIC OF)</label>      
              </div>

              <div class="option">
                <input type="radio" class="radio" id="NZD" name="Currency" />
                <label for="NZD">NZD - NEW ZEALAND</label>      
              </div>

              <div class="option">
                <input type="radio" class="radio" id="PHP" name="Currency" />
                <label for="PHP">PHP - PHILIPPINES (THE)</label>      
              </div>

              <div class="option">
                <input type="radio" class="radio" id="RMB" name="Currency" />
                <label for="RMB">RMB - CHINA</label>      
              </div>

              <div class="option">
                <input type="radio" class="radio" id="THB" name="Currency" />
                <label for="THB">THB - THAILAND</label>      
              </div>

              <div class="option">
                <input type="radio" class="radio" id="USD" name="Currency" />
                <label for="USD">USD - UNITED STATES OF AMERICA (THE)</label>      
              </div>

              <div class="option">
                <input type="radio" class="radio" id="VND" name="Currency" />
                <label for="VND">VND - VIET NAM</label>      
              </div>

            </div>
            <div class="selected">
              Select Currency
            </div>

            <div class="search-box">
              <input type="text" placeholder="Start Typing..." />
            </div>
            <br>
          </div>    
      </div>       
      <script src="submit.js"></script> 
      <h3>Claim Description</h3>
      <div class="wrapper">
        <textarea spellcheck="true" placeholder="Type something here..." required></textarea>
      </div>
      <br>
      <div class="button">
        <a href="#" class="btn">Submit Claim</a>
      </div>

      
    <!-- Park one side first-->

    <!-- <div class="container">
      <div class="row col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
          <div class="panel-heading text-center">
              </div>
                <div class="panel-body">
                  <form action="submitclaim.php" method="post">
                  <div class="form-group">
                <label for="Claim_Desc">Claim Desc</label>
                <input
                  type="text"
                  class="form-control"
                  id="Claim_Desc"
                  name="Claim_Desc"
                />
              </div>
             <input type="submit" class="btn btn-primary" />
          </form>
        </div>
      </div>
    </div>
  </div> -->
  <!--Script for function-->
  <script>
    let sidebar = document.querySelector(".sidebar");
    let closeBtn = document.querySelector("#btn");
    let searchBtn = document.querySelector(".bx-search");

    closeBtn.addEventListener("click", ()=>{
        sidebar.classList.toggle("open");
        menuBtnChange();//calling the function(optional)
    });

    searchBtn.addEventListener("click", ()=>{ // Sidebar open when you click on the search iocn
        sidebar.classList.toggle("open");
        menuBtnChange(); //calling the function(optional)
    });

    // following are the code to change sidebar button(optional)
    function menuBtnChange() {
    if(sidebar.classList.contains("open")){
        closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
    }else {
        closeBtn.classList.replace("bx-menu-alt-right","bx-menu");//replacing the iocns class
    }
    }
    </script>
    
</body>
</html>
